<ul style="
    list-style-type: none;
    margin: 0;
    padding: 0;
">
  <li style="
    display: inline;
    /* margin-left: 5px; */
    margin-right: 5px;
"><a href="{{ '/' | relative_url }}" style="
    color: #444;
">Home</a></li>
  <li style="
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
"><a href="{{ '/blog' | relative_url }}" style="
    color: #444;
">Articles</a></li>

  <li style="
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
"><a href="{{ '/microblog' | relative_url }}" style="
    color: #444;
">Microblog</a></li><li style="
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
"><a href="{{ '/more' | relative_url }}" style="
    color: #444;
">More</a></li>
  </ul>

