{% assign notes = site.notes | sort: 'date' | reverse %}
{% for notes in notes %}

<div class="h-entry note post-stub">
 
 
 <h2><a href="{{ notes.url | prepend: site.baseurl }}">
   {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ notes.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ notes.date | date: date_to_rfc822 }}
      </time>
   </a></h5>

     {% if notes.reply %}
 <p><span class="reply-context" style="display:block;background-color: #f5f5f5;text-indent: 1em; line-break:anywhere;">↳ In reply to <a href="{{ notes.reply | relative_url }}" class="u-in-reply-to h-cite">{{ notes.reply }}</a></span></p>
  {% endif %}
 
 <p class="p-content"> 
   {{ notes.content | truncate: 445 }}
 </p>
 
   {% if notes.image %}
      <div class="post-image">
        <a href="{{ notes.url | relative_url }}" style="
    text-decoration: none;
">
          <img src="{{ notes.image | relative_url }}" alt="{{ notes.alt }}">
          
        </a>
       </div>  
      {% endif %}
 
</div>

{% endfor %}  
